h1 {
  text-align: center;
  text-shadow: 1px 2px pink;
  padding-top: 10px;
}

#numberInput {
height: 40px;
}
button#clear {
position: relative;
height: 100%;
width: 80%;
text-align: center;
}

button#clear:hover{
  font-weight: bold;
}

#inputBox{
  text-align: center;
  padding-bottom: 15px;
  padding-top: 10px;
}

#enter {
  height: 45px;
}
#outLine {
  overflow:hidden;
  width:80%;
  position: relative;
  margin:0 auto;
  padding-bottom: 0px;
  max-width: 700px;
}

#drawHere{
  border:1px solid black;
  background-color: pink;
  width:80%;
  margin: auto;
  padding-top: 80%;
}
 #moveButton{
   padding-top: 20px;
   text-align: center;
   background-color: ;
   width:100%;
   height:30px;
 }

 .square {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  float:left;
}

#drawTable {
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 background-color: green;
}
